CustodianEveryWhereV2.0/Web References/RSA/cal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://us.csp.com/" targetNamespace="http://us.csp.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:complexType name="pinRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="acct" type="xs:string" />
      <xs:element minOccurs="0" name="age" type="xs:string" />
      <xs:element minOccurs="0" name="country" type="xs:string" />
      <xs:element minOccurs="0" name="dateOfBirth" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="employeeAddress" type="xs:string" />
      <xs:element minOccurs="0" name="employerAddress" type="xs:string" />
      <xs:element minOccurs="0" name="employerCode" type="xs:string" />
      <xs:element minOccurs="0" name="employerName" type="xs:string" />
      <xs:element minOccurs="0" name="fname" type="xs:string" />
      <xs:element minOccurs="0" name="formview" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
      <xs:element minOccurs="0" name="pin" type="xs:string" />
      <xs:element minOccurs="0" name="pinError" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="pricedate" type="xs:string" />
      <xs:element minOccurs="0" name="sector" type="xs:string" />
      <xs:element minOccurs="0" name="sectorcode" type="xs:string" />
      <xs:element minOccurs="0" name="t24Connection" type="xs:string" />
      <xs:element minOccurs="0" name="unit" type="xs:double" />
      <xs:element minOccurs="0" name="value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>